body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

.xo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.player-1,
.player-2 {
  text-align: center;
  background-color: #313244;
  color: #cdd6f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 10%;
}

.gameboard {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 5px;
  padding: 10px;
  background-color: #313244;
  border-radius: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #45475a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 900;
  border-radius: 8px;
  transition: background 0.2s ease-in-out;
}

.cell:hover {
  background: #585b70;
}

.x-mark {
  color: #f38ba8;
}

.o-mark {
  color: #89b4fa;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: #a6e3a1;
  color: #1e1e2e;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s ease-in-out;
}

button:hover {
  background: #94e2d5;
}
