body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

.xo-container {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 5px;
  padding: 10px;
  background-color: #313244;
  border-radius: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #45475a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2.5rem;
  border-radius: 8px;
  transition: background 0.2s ease-in-out;
}

.cell:hover {
  background: #585b70;
}

.x-mark {
  color: #f38ba8;
}

.o-mark {
  color: #89b4fa;
}
